
<div class="site-footer">
    <div class="footer-content">
        <div class="footer-section">
            
        </div>
        <div class="footer-section">
            <h5>QuickSilver Transportation</h5>
            <ul>
                <li><a href="/terms">Terms and Conditions</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h5>More</h5>
            <ul>
                <li><a href="/about-us">About Us</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h5>Support</h5>
            <ul>
                <li>
                    <a class="bi bi-envelope" href="mailto:kim@gmail.com"> Kim</a>
                </li>
                <li>
                    <a class="bi bi-envelope" href="mailto:clarence@gmail.com"> Clarence</a>
                </li>
            </ul>
        </div>
    </div>
    <br />
    <div class="copyright">
        <p>&copy; @DateTime.Now.Year - SilverLimo. All rights reserved by Kim and Clarence.</p>
    </div>
</div>

<style>

    .site-footer {
        background-color: #2D3047;
        color: #fff;
        padding: 20px 0;
        font-family: Arial, sans-serif;
        flex-shrink: 0;
    }

    .footer-content {
        display: flex;
        justify-content: space-around;
        align-items: start;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: auto;
        padding: 0 15px;
    }

    .footer-section h5 {
        color: #F8D568;
        margin-bottom: 15px;
    }

    .footer-section ul {
        list-style: none;
        padding: 0;
    }

        .footer-section ul li a {
            color: #CCCCCC;
            text-decoration: none;
            transition: color 0.3s;
        }

            .footer-section ul li a:hover {
                color: #F8D568;
            }

    .copyright {
        color: #6c757d;
        text-align: center;
    }
</style>

