@page "/contact-us"
<button type="submit" onclick="location.href='/'" class="btn btn-primary">Return</button>
<h3>Contact Us Page</h3>
<h5>This will be where the contact us page will be</h5>
@code {

}
