@page "/feedback"
<button type="submit" onclick="location.href='/'" class="btn btn-primary">Return</button>
<!DOCTYPE html>
<html>
<head>
    <title>Feedback Page</title>

</head>
</html>
@code {
    
}
