@page "/feedbacks/create"
@inject HttpClient _client
@inject NavigationManager _navManager

<div class="navbar">
    <a href="authentication/profile">Profile</a>
    <a href="/">Home</a>
    <a href="authentication/register">Register</a>
    <a href="authentication/login">Login</a>
    <a href="/about-us">About Us</a>
    <a href="/pg">Price Guide</a>
    <a href="/feedbacks">Contact Us</a>
    <a href="/vehicles">Vehicles</a>]
    <a href="/customers">Customers</a>
    <a href="/staffs">Staffs</a>
    <a href="/transportbookings">Bookings</a>
    <a href="/payments">Payment</a>
</div>

<h3>CreateFeedback</h3>

<FormComponent ButtonText="Create Feedback" feedback="feedback" OnValidSubmit="@CreateFeedbacks" />

@code {
    Feedback feedback = new Feedback();
    private IList<TransportBooking>? TransportBookings;
    protected async override Task OnInitializedAsync()
    {
        TransportBookings = await _client.GetFromJsonAsync<List<TransportBooking>>($"{Endpoints.TransportBookingsEndpoint}");
    }
    private async Task CreateFeedbacks()
    {
        await _client.PostAsJsonAsync(Endpoints.FeedbacksEndpoint, feedback);
        _navManager.NavigateTo("/feedbacks");
    }
}
