@page "/feedback/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Edit Feedback</h3>

<div class="navbar">
    <a href="authentication/profile">Profile</a>
    <a href="/">Home</a>
    <a href="authentication/register">Register</a>
    <a href="authentication/login">Login</a>
    <a href="/about-us">About Us</a>
    <a href="/pg">Price Guide</a>
    <a href="/feedbacks">Contact Us</a>
    <a href="/vehicles">Vehicles</a>]
    <a href="/customers">Customers</a>
    <a href="/staffs">Staffs</a>
    <a href="/transportbookings">Bookings</a>
    <a href="/payments">Payment</a>
</div>
<FormComponent ButtonText="Update" OnValidSubmit="Editfeedback" feedback="feedbacks" />

@code {
    [Parameter] public int id { get; set; }
    Feedback? feedbacks = new Feedback();

    protected async override Task OnParametersSetAsync()
    {
        feedbacks = await
       _client.GetFromJsonAsync<Feedback>($"{Endpoints.FeedbacksEndpoint}/{id}");
    }

    async Task Editfeedback()
    {
        await _client.PutAsJsonAsync($"{Endpoints.FeedbacksEndpoint}/{id}", feedbacks);
        _navManager.NavigateTo("/feedbacks/");
    }
}
